{% extends "base.html" %}

{% block content %}
<main class="auth-form">
    <form action="", method="POST">
        <form action="" method="POST">
            <section>
                <label for="email">Email</label>
                <input type="text" name="email" id="email">
            </section>
            <section>
                <label for="password">Enter Password</label>
                <input type="password" name="password" id="password">
            </section>
            <section>
                <button type="submit">Submit</button>
            </section>
        </form>
        <p>If you already have an account, sign in</p>
    </main>
    </form>
</main>
{% endblock %}